<!DOCTYPE html>
<html>

<head>
    <title>Responsive Template</title>
    {{!-- <link href="/css/meyer-reset.css" rel="stylesheet"> --}}
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Source+Sans+Pro:600" rel="stylesheet">
</head>

<body>
    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="logo logo-text">Titel</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Hem</a>
                    </li>
                    <li>
                        <a href="/1">Nav 1</a>
                    </li>
                    <li>
                        <a href="/2">Nav 2</a>
                    </li>
                    <li>
                        <a href="/3">Nav 3</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <m class="main-container">
        <main class="main wrapper clearfix">
            {{{body}}}
        </main>
    </div>

    <div class="footer-container">
        <footer class="wrapper">
            <h3>footer</h3>
        </footer>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/script.js"></script>
</body>

</html>