<article>
    <header>
        <h1>
            Titel
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, quis. Dicta modi error amet nesciunt hic et, temporibus est quidem, iure illo obcaecati eum, distinctio repellat ut aut iusto doloribus. </p>
    </header>
    <section>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora velit voluptas illo aut. Molestias natus facere beatae amet itaque! Minus molestias quas facilis voluptate consectetur dolorem dicta dolor voluptas deserunt.
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora velit voluptas illo aut. Molestias natus facere beatae amet itaque! Minus molestias quas facilis voluptate consectetur dolorem dicta dolor voluptas deserunt.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora velit voluptas illo aut. Molestias natus facere beatae amet itaque! Minus molestias quas facilis voluptate consectetur dolorem dicta dolor voluptas deserunt.
            </li>
        </ul>

        <p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum adipisci rem unde commodi totam consequuntur ipsum accusantium aliquam, voluptatem quos, officiis sunt facere quo impedit accusamus distinctio neque doloribus! Commodi.
        </p>
    </section>
    <section>
        <h2>h2
        </h2>
        <p>
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus itaque adipisci porro consequuntur, architecto sed id quo iste laborum corporis necessitatibus similique deleniti mollitia. Aliquam tenetur at a error incidunt!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia id sint nemo libero ullam laudantium quos maxime distinctio aliquid earum accusantium magni suscipit obcaecati inventore voluptatibus, molestiae hic nisi magnam!
            </p>
    </section>

    <section>
        <h2> h2</h2>
        <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia commodi inventore ducimus ullam vero a? Cupiditate ipsam, molestias velit exercitationem reprehenderit suscipit sed atque distinctio molestiae nulla, neque earum.
        </p>
    </section>

    <footer>
        <h3>h3</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quaerat libero, accusamus laboriosam, incidunt maxime odio nemo sapiente, esse quidem eos similique eum reprehenderit fuga molestias est possimus ducimus nihil.
        </p>
    </footer>
</article>
<aside class="img-aside">
    <img src="/img/img-1.jpg" alt="Side image">
</aside>